:root {
    --b1: #2E3440;
    --b2: #3B4252;
    --b3: #434C5E;
    --b4: #4C566A;
    --w1: #D8DEE9;
    --w2: #E5E9F0;
    --w3: #ECEFF4;
    --f1: #8FBCBB;
    --f2: #88C0D0;
    --f3: #81A1C1;
    --f4: #5E81AC;
    --red: #BF616A;
    --orange: #D08770;
    --yellow: #EBCB8B;
    --green: #A3BE8C;
    --pink: #B48EAD;
}
