<!DOCTYPE html>
<head>
    <title>basic.html</title>
    <meta charset = "UTF-8" />
    <link rel="stylesheet" href="../css/header.css">
</head>
<body>
    <div class="header">
        <div class="header_top">
            <div class="header_logo">
                <img src="" alt="" class="header_logo_img">
            </div>
            <div class="header_name">
            </div>
        </div>
        <div class="header_bottom">
            <menu>
                <menuitem>Main page</menuitem>
                <menuitem>Hitchhiking</menuitem>
                <menuitem>Hiking</menuitem>
                <menuitem>Lowcost travels</menuitem>
                <menuitem>Camps</menuitem>
            </menu>
        </div>
    </div>
</body>