<!DOCTYPE html>
<head>
    <title>basic.html</title>
    <meta charset = "UTF-8" />
    <link rel="stylesheet" href="../css/header.css">
</head>
<body>
    <div class="header">
        <div class="header_top">
            <div class="header_logo">
                <img src="" alt="" class="header_logo_img">
            </div>
            <div class="header_name">
            </div>
        </div>
        <div class="header_bottom">
            <ul class="header_menu" type="toolbar">
                <li><a>Main page</a></li>
                <li><a>Easter na Zaxid</a></li>
                <li><a>First trip to Europe</a></li>
                <li><a>Second trip to Europe</a></li>
                <li><a>Hogwarts</a></li>
                <li><a>Hoverla</a></li>
                <li><a>Legion</a></li>
                <li><a>Mezha</a></li>
                <li><a>Plast</a></li>
                <li><a>Different small camps</a></li>
            </ul>
        </div>
    </div>
</body>