@import "colors.css";

* {
    font-family: Noto Sans, sans-serif;
    box-sizing: inherit;
}

.body-page-element {
    margin: 5em auto;
    padding: 0 2em;
    max-width: 55em;
}

img {
    display: block;
    max-width: 55em;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: var(--f3);
    text-decoration: none;
    cursor: pointer;
}


.header-element {
    padding: 0.5em 1em;
    border-radius: 0.5em;
    background-color: var(--w2);
    color: var(--f3);
}

.important {
    background-color: var(--f1);
    color: var(--w3);
    padding: 0.5em;
    border-radius: 0.4em;
    font-size: 1.5em;
}

.main-element {
    background-color: var(--w3);
    padding: 1em 2em;
    border-radius: 2em;
    color: var(--b4);
    font-size: 1em;
}

.two_columns {
    display: flex;
    justify-content: space-around;
}

code {
    padding: 0 0.2em;
    display: inline;
    font-family: monospace;
    background-color: var(--w1);
    color: var(--red);
    font-size: 1em;
}

button, input[type=submit] {
    display: block;
    background: var(--f4);
    padding: 1em;
    border: 1px solid var(--f3);
    border-radius: 1em;
    min-width: 100px;
    color: var(--w2);
    font-size: 1em;
    margin: 1em auto;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin: 0 auto;
}

form input, form textarea {
    padding: .5em;
    margin: .5em 0;
    border: solid 1px var(--w1);
    border-radius: 0.6em;
}

.NotSupportedYet {
    display: block;
    text-align: center;
    font-size: 2em;
    margin: 10em auto;
}

.chords-img {
    max-width: 90%;
    width: auto;
    height: auto;
    margin: 0 auto;
}

.chords-img-block {
    display: flex;
}

.tuner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /*text-align: center;*/
}

.a_tuner {
    text-align: center;
}

@media only screen and (max-width: 1650px) {
    .body-page-element {
        margin: 6em auto;
    }
}

@media only screen and (max-width: 1000px) {
    .body-page-element {
        margin: 8em auto;
    }
}

@media only screen and (max-width: 768px) {
    .body-page-element {
        margin: 20em auto;
    }
}