<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/header_and_footer.css">
    <link rel="stylesheet" href="../css/main.css">
    <title>HTML basic elements</title>
</head>
<body>
<header>
    <ul class="header_menu" type="toolbar">
        <li><a href="../index.html">Main page</a></li>
        <li><a href="./html_general.html">HTML general</a></li>
        <li><a href="./basic.html">HTML basic elements</a></li>
        <li><a href="./tables.html">Tables</a></li>
        <li><a href="./lists.html">Lists</a></li></ul>
    <ul class="header_menu" type="toolbar">
        <li><a href="./forms.html">Forms</a></li>
        <li><a href="./css_general.html">CSS general</a></li>
        <li><a href="./css_basic.html">CSS basic elements</a></li>
        <li><a href="./floating.html">Floating</a></li>
        <li><a href="./flex.html">Flex box</a></li>
    </ul>
</header>
<main>
    <h1 class="header_element">Basic elements</h1>
    <h2 class="header_element">Short info</h2>
    <div class="main_element">
        <ul>
            <li>The <code>< !DOCTYPE html></code> declaration defines this document to be HTML5</li>
            <li>The <code>< html></code> element is the root element of an HTML page</li>
            <li>The <code>< head></code> element contains meta information about the document</li>
            <li>The <code>< title></code> element specifies a title for the document</li>
            <li>The <code>< body></code> element contains the visible page content</li>
            <li>The <code> < h1>-< h6> </code> element defines a large heading</li>
            <li>The <code>< p></code> element defines a paragraph</li>
        </ul>
    </div>
    <h2 class="header_element">HTML page structure</h2>
    <div class="main_element"><img src="../img/structure.png" alt="Smiley face ^_^"></div>
    <h2 class="header_element">Documents</h2>
    <div class="main_element">
        <p>All HTML documents must start with a document type declaration:<code>< !DOCTYPE html></code>.<br></p>

        <p>The HTML document itself begins with <code>< html></code> and ends with <code>< /html></code>.</p>

        <p> The visible part of the HTML document is between <code>< body></code> and <code>< /body></code>.</p>
    </div>
    <h2 class="header_element">Headings</h2>
    <div class="main_element">
        <p>HTML paragraphs are defined with the < p> tag:</p>
    </div>
    <h2 class="header_element">Paragraphs</h2>
    <div class="main_element">
        <p>HTML headings are defined with the <code>< h1></code> to <code>< h6></code>  tags.</p>
        <p><code>< h1></code> defines the most important heading. <code>< h6></code> defines the least important heading:</p>
    </div>
    <h2 class="header_element">Links</h2>
    <div class="main_element">
        <p>HTML links are defined with the <code>< a></code> tag:</p>
        <p>The link's destination is specified in the href attribute.<br>
            Attributes are used to provide additional information about HTML elements.<br>
            You will learn more about attributes in a later chapter.</p>
        <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Ffreefrontend.com%2Fhtml-funny-404-pages%2F&psig=AOvVaw0Jq-A7hvtSahWR3IeW6B22&ust=1587120558506000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCLCJ-Pzi7OgCFQAAAAAdAAAAABAJ">CLICK ON ME (funny 404 pages link)!</a>
    </div>
    <h2 class="header_element">Images</h2>
    <div class="main_element">
        <p>HTML images are defined with the <code>< img></code> tag.</p>
        <p>The source file (src), alternative text (alt), width, and height are provided as attributes:</p>
    </div>
    <h2 class="header_element">Buttons</h2>
    <div class="main_element">
        <p>HTML buttons are defined with the <code>< button></code> tag:</p>
        <p>The source file (src), alternative text (alt), width, and height are provided as attributes:</p>
        <button>Click on me!</button>
    </div>

</main>
<footer>
    <p>made by Mykola Morhunenko</p>
</footer>
</body>
</html>