<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/header_and_footer.css">
    <link rel="stylesheet" href="../css/main.css">
    <title>Flex box</title>
</head>
<body>
<header>
    <ul class="header_menu" type="toolbar">
        <li><a href="../index.html">Main page</a></li>
        <li><a href="./html_general.html">HTML general</a></li>
        <li><a href="./basic.html">HTML basic elements</a></li>
        <li><a href="./tables.html">Tables</a></li>
        <li><a href="./lists.html">Lists</a></li>
    </ul>
    <ul class="header_menu" type="toolbar">
        <li><a href="./forms.html">Forms</a></li>
        <li><a href="./css_general.html">CSS general</a></li>
        <li><a href="./css_basic.html">CSS basic elements</a></li>
        <li><a href="./floating.html">Floating</a></li>
        <li><a href="./flex.html">Flex box</a></li>
    </ul>
</header>
<main>
    <h1 class="header_element">Flex box</h1>
    <h2 class="header_element">The best info in the Internet about flex boxes</h2>
    <div class="main_element">
        <h3 class="header_element">Simple page used to be like:</h3>
        <img src="../img/600x266_flex_1.gif" alt="Oh no...">
        <p>as far as all are blocks, they are one by one.</p>
        <p>to start working with flex box, we have to change <code>display</code> property to <code>flex</code></p>
        <img src="../img/600x258_flex_2.webp" alt="Oh no...">
        <h3 class="header_element">Flex direction</h3>
        <p>flex container have two axes:</p>
        <img src="../img/axes.png" alt="oh no...">
        <p><code>flex-direction</code> helps us to change the axes</p>
        <img src="../img/600x258_flex_3.gif" alt="oh no...">
        <p>also <code>flex-direction</code> can be <code>column-reverse</code></p>
        <img src="../img/600x258_flex_4.gif" alt="oh no....">
        <h3 class="header_element">Justify Content</h3>
        <p><code>justify content</code> is responsible for position across the main axis</p>
        <p>It can be:</p>
        <ol>
            <li><code>flex-start</code>;</li>
            <li><code>flex-end</code>;</li>
            <li><code>center</code>;</li>
            <li><code>space-between</code>;</li>
            <li><code>space-around</code>.</li>
        </ol>
        <img src="../img/600x134_flex_5.gif" alt="oh no..">
        <h3 class="header_element">Align Items</h3>
        <p><code>align items</code> works with Cross axis.</p>
        <p>It can be:</p>
        <ol>
            <li><code>flex-start</code>;</li>
            <li><code>flex-end</code>;</li>
            <li><code>center</code>;</li>
            <li><code>stretch</code>;</li>
            <li><code>baseline</code>.</li>
        </ol>
        <img src="../img/600x210_flex_6.gif" alt="oh no...">
    </div>
    <h2 class="main_element">This and more about the Flex box you can find <a href="https://tproger.ru/translations/how-css-flexbox-works/">here</a></h2>
</main>
<footer>
    <p>made by Mykola Morhunenko<br>
    most info is from <a href="https://tproger.ru/translations/how-css-flexbox-works/">Tproger</a></p>
</footer>
</body>
</html>