<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/header_and_footer.css">
    <link rel="stylesheet" href="../css/main.css">
    <title>HTML general</title>
</head>
<body>
<header>
    <ul class="header_menu" type="toolbar">
        <li><a href="../index.html">Main page</a></li>
        <li><a href="./html_general.html">HTML general</a></li>
        <li><a href="./basic.html">HTML basic elements</a></li>
        <li><a href="./tables.html">Tables</a></li>
        <li><a href="./lists.html">Lists</a></li></ul>
    <ul class="header_menu" type="toolbar">
        <li><a href="./forms.html">Forms</a></li>
        <li><a href="./css_general.html">CSS general</a></li>
        <li><a href="./css_basic.html">CSS basic elements</a></li>
        <li><a href="./floating.html">Floating</a></li>
        <li><a href="./flex.html">Flex box</a></li>
    </ul>
</header>
<main>
    <h1 class="header_element">General knowledge about the HTML</h1>
    <h2 class="header_element">What is html?</h2>
    <p class="important">
        HTML is the standard markup language for Web pages.<br><br>

        With HTML you can create your own Website.<br><br>

        HTML is not a programming language!<br>
    </p>
    <h2 class="header_element">Few facts about HTML</h2>
    <div class="main_element">
        <ul>
            <li>HTML stands for Hyper Text Markup Language</li>
            <li>HTML describes the structure of a Web page</li>
            <li>HTML consists of a series of elements</li>
            <li>HTML elements tell the browser how to display the content</li>
            <li>HTML elements are represented by tags</li>
            <li>HTML tags label pieces of content such as "heading", "paragraph", "table", and so on</li>
            <li>Browsers do not display the HTML tags, but use them to render the content of the page</li>
        </ul>
    </div>
    <h2 class="header_element">HTML History</h2>
    <div class="main_element">
        <table>
            <tbody>
            <tr>
                <th>Year</th>
                <th>Version</th>
            </tr>
            <tr>
                <td>1989</td>
                <td>Tim Berners-Lee invented www</td>
            </tr>
            <tr>
                <td>1991</td>
                <td>Tim Berners-Lee invented HTML</td>
            </tr>
            <tr>
                <td>1993</td>
                <td>Dave Raggett drafted HTML+</td>
            </tr>
            <tr>
                <td>1995</td>
                <td>HTML Working Group defined HTML 2.0</td>
            </tr>
            <tr>
                <td>1997</td>
                <td>W3C Recommendation: HTML 3.2</td>
            </tr>
            <tr>
                <td>1999</td>
                <td>W3C Recommendation: HTML 4.01</td>
            </tr>
            <tr>
                <td>2000</td>
                <td>W3C Recommendation: XHTML 1.0</td>
            </tr>
            <tr>
                <td>2008</td>
                <td>WHATWG HTML5 First Public Draft</td>
            </tr>
            <tr>
                <td>2012</td>
                <td><a href="http://whatwg.org/html/" target="_blank">WHATWG HTML5 Living Standard</a></td>
            </tr>
            <tr>
                <td>2014</td>
                <td><a href="http://www.w3.org/TR/html5/" target="_blank">W3C Recommendation: HTML5</a></td>
            </tr>
            <tr>
                <td>2016</td>
                <td>W3C Candidate Recommendation: HTML 5.1</td>
            </tr>
            <tr>
                <td>2017</td>
                <td><a href="http://www.w3.org/TR/html51/" target="_blank">W3C Recommendation: HTML5.1 2nd Edition</a>
                </td>
            </tr>
            <tr>
                <td>2017</td>
                <td><a href="http://www.w3.org/TR/html52/" target="_blank">W3C Recommendation: HTML5.2</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <h2 class="header_element">HTML Tags</h2>
    <div class="main_element">
        <p>HTML tags are element names surrounded by angle brackets:</p>
        <p class="important"><code>< tagname></code> content goes here... <code>< /tagname></code></p>
    </div>
</main>
<footer>
    <p>made by Mykola Morhunenko</p>
</footer>
</body>
</html>