<!DOCTYPE html>
<html lang="en">
<head>
    <title>basic.html</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../css/header.css">
</head>
<body>
<header>
    <div class="header_top">
        <div class="header_logo">
            <img src="" alt="" class="header_logo_img">
        </div>
        <div class="header_name">
        </div>
    </div>
    <div class="header_bottom">
        <ul class="header_menu" type="toolbar">
            <li><a>Main page</a></li>
            <li><a>Contact us</a></li>
            <li><a>FAQ</a></li>
            <li><a>Sign in</a></li>
            <li><a>Log in</a></li>
        </ul>
    </div>
</header>
<main>

</main>

</body>
</html>