<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/header_and_footer.css">
    <link rel="stylesheet" href="../css/main.css">
    <title>Tables</title>
</head>
<body>
<header>
    <ul class="header_menu" type="toolbar">
        <li><a href="../index.html">Main page</a></li>
        <li><a href="./html_general.html">HTML general</a></li>
        <li><a href="./basic.html">HTML basic elements</a></li>
        <li><a href="./tables.html">Tables</a></li>
        <li><a href="./lists.html">Lists</a></li>
    </ul>
    <ul class="header_menu" type="toolbar">
        <li><a href="./forms.html">Forms</a></li>
        <li><a href="./css_general.html">CSS general</a></li>
        <li><a href="./css_basic.html">CSS basic elements</a></li>
        <li><a href="./floating.html">Floating</a></li>
        <li><a href="./flex.html">Flex box</a></li>
    </ul>
</header>
<main>
    <h1 class="header_element">TABLES</h1>
    <h2 class="header_element">Defining an HTML Table</h2>
    <div class="main_element">
        <p>An HTML table is defined with the <code>< table></code> tag.
            Each table row is defined with the <code>< tr></code> tag. A table header is defined with the <code><
                th></code> tag. By default, table headings are bold and centered. A table data/cell is defined with the
            <code>< td></code> tag.
        </p>
    </div>
    <h2 class="header_element">Table borders</h2>
    <div class="main_element">
        <p>If you do not specify a border for the table, it will be displayed without borders.<br>
            A border is set using the CSS border property:</p>
        <pre>
            table, th, td {
                border: 1px solid black;
            }
        </pre>
    </div>
    <h2 class="header_element">Table borders</h2>
    <div class="main_element">
        <p>If you do not specify a border for the table, it will be displayed without borders.<br>
            A border is set using the CSS border property:</p>
        <pre>
            table, th, td {
                border: 1px solid black;
            }
        </pre>
    </div>
    <h2 class="header_element">Cell Padding</h2>
    <div class="main_element">
        <p>Cell padding specifies the space between the cell content and its borders.
            If you do not specify a padding, the table cells will be displayed without padding.
            To set the padding, use the CSS <code>padding</code> property:</p>
        <pre>
            th, td {
                padding: 15px;
            }
        </pre>
    </div>
    <h2 class="header_element">Adding a Caption</h2>
    <div class="main_element">
        <p>To add a caption to a table, use the <code>&lt;caption&gt;</code> tag:</p>
        <pre>
            th, td {
                padding: 15px;
            }
        </pre>
    </div>
    <h2 class="header_element">Summary</h2>
    <div class="main_element">
        <ul>
            <li> Use the HTML <code>< table></code> element to define a table</li>
            <li> Use the HTML <code>< tr></code> element to define a table row</li>
            <li> Use the HTML <code>< td></code> element to define a table data</li>
            <li> Use the HTML <code>< th></code> element to define a table heading</li>
            <li> Use the HTML <code>< caption></code> element to define a table caption</li>
            <li> Use the CSS border property to define a border</li>
            <li> Use the CSS border-collapse property to collapse cell borders</li>
            <li> Use the CSS padding property to add padding to cells</li>
            <li> Use the CSS text-align property to align cell text</li>
            <li> Use the CSS border-spacing property to set the spacing between cells</li>
            <li> Use the colspan attribute to make a cell span many columns</li>
            <li> Use the rowspan attribute to make a cell span many rows</li>
            <li> Use the id attribute to uniquely define one table</li>
        </ul>
    </div>
</main>
<footer>
    <p>made by Mykola Morhunenko</p>
</footer>
</body>
</html>